
.btn2 {
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    margin: 10px 15px 15px 20px;
    border: 1px solid #F18230;
    border-radius: 25px;
    height: 46px;
    line-height: 0;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #0f0c0c;
    background-color: #fff;
    vertical-align: top;
    cursor: pointer;
}
.btn2:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn2:hover {
    background-color: #fba768
}
.btn2:active {
    background-color: #c17237 !important;
}
